In [1]:
a = 1

In [4]:
b = 2
b = b + a

In [5]:
print(a, b)

1 3

In [6]:
1,2

(1, 2)

In [41]:
print("Please enter your age: ")

# hey this like actually takes input and convert it into integer
age = int(input())
age = int(age)

# now we can show your age
print("Your age is: ", age)

Please enter your age:
asdf

ValueError: invalid literal for int() with base 10: 'asdf'

In [22]:
age >= 18

True

In [38]:
print("Enter your name, DOB, and location separted by enter")
details = input().split(',')


print(*details)

Enter your name, DOB, and location separted by enter
sdfasdf
sdfasdf

In [40]:
print(details)

['sdfasdf']

In [29]:
y

'800001232'

In [3]:
print("I want \na new line")

I want
a new line

In [12]:
a = 1

In [9]:
# string manipulations operations

In [19]:
email = "RatNayash_PanDey@gmail.com"

In [40]:
email.lower()
# print(email.upper())
# print(email.title())

'ratnayash_pandey@gmail.com'

In [25]:
email.split('@')

['RatNayash_PanDey', 'gmail.com']

In [30]:
print(10 * "garima")

garimagarimagarimagarimagarimagarimagarimagarimagarimagarima

In [39]:
1+1
3+2

5

In [32]:
130.12 - 3

127.12

In [33]:
130/2

65.0

In [34]:
120*2

240

In [35]:
2**4

16

In [38]:
9%2

1

In [74]:
age = 17

if age >= 18:
    print("Let them enter")

elif age >=16 and age <18:
    print("send to different club")
else:
    print("Do not let them enter")

send to different club

In [65]:
num = 13

if num%2 == 0 :
    print("Yes it is even")

else:
    print("Not even")

Not even

In [70]:
num1 = 4
num2 = 3

num1 > 5 and not num2 < 4

False

In [71]:
not num2 < 4

False

In [72]:
num2 >= 4

False

In [82]:
"YT" >  "YS"

True

In [83]:
names = input()

sumit abhi abrar neil

In [120]:
names[::-1]

'lien rarba ihba timus'

In [127]:
name_list = names.split()

In [138]:
name_list[3 : : -1]

['neil', 'abrar', 'abhi', 'sumit']

In [44]:
l = [4, 3, 1, 5, 2, -1, 9]

abc = -float('inf')

for i in range(2, len(l)):
    
    if abc < l[i]:
        abc = l[i]
        
print(abc)

9

In [35]:
float('inf')

True

In [6]:
# creating a set

# method 1: 
l = [1,2,3,4,2,2,1,3]
s = set(l)
print("s set: ", s)
# method 2:
s1 = {1,2,2,3,4,5,9,7,8}
print("s1 set: ", s1)

s set:  {1, 2, 3, 4}
s1 set:  {1, 2, 3, 4, 5, 7, 8, 9}

In [10]:
s.union(s1)

{1, 2, 3, 4, 5, 7, 8, 9}

In [11]:
s.intersection(s1)

{1, 2, 3, 4}

In [13]:
s - s1

set()

In [ ]:
s1 - s

# Type function

In [7]:
type(s)

set

# Tuple

In [3]:
# list is mutable like COVID -19 & Deadpool
l = [1,2,3,4,5]
l[3] = 12
print(l)

# tuple is immutable
l = (1,2,3,4,5)
t[3] = 12 # throws error: TypeError: 'tuple' object does not support item assignment

# we can't mutate but we can always reassign
# just like killing and rebirth
l = (1,2,3,12,5)

# iterating over a list is slower thatn tuple, i.e I can iterate over tuple in a faster way
# list consumes more memory tuple
# list has several built in function, and tuple does not have

[1, 2, 3, 12, 5]

TypeError: 'tuple' object does not support item assignment

# Dictionary

In [8]:
# dictionary meaning

In [11]:
# initialisation
d = {}

type(d)

dict

In [13]:
d = { 1 : 'abc', 2 : 'efg', 3 : 'xyz', 'name' :'pqr' }
print(d)

{1: 'abc', 2: 'efg', 3: 'xyz', 'name': 'pqr'}

In [16]:
# when we want to search for a value of a key

# dictionary['key']

d['name']

'pqr'

In [17]:
# d[4] # throws KeyError: 4, 
# which effectively means that 4 is not present in the keys of dictionary
# it is equivalent of searching a meaningless english word in oxford dictionary

KeyError: 4

In [18]:
# delete an element from dictionary

del d['name']

d

{1: 'abc', 2: 'efg', 3: 'xyz'}

In [19]:
# clear the dictionary i.e delete all the elements

d.clear()
d

{}

In [20]:
# delete the whole dictionary 
del d

print(d)

NameError: name 'd' is not defined

In [21]:
# keys must be immutable
l = [1,2,3,4]
d = {1 : 'abc', 'sumit': 'red', l: 'xyz'}
l[3] = 0
print(d)

TypeError: unhashable type: 'list'

![Keys should be](hash_key_immutable.png)

In [26]:
s = 'sumit'
print(s)

sumit

In [28]:
# s[0] ='e' # throws error-> TypeError: 'str' object does not support item assignment

In [32]:
a = 5
b = 5

print(id(a))
print(id(b))

b = 3

print(id(b))

4546692368
4546692368
4546692304

![Keys should be](id.png)

In [39]:
l = input().split()

3 5

# Solved hackerrank question: 
https://www.hackerrank.com/challenges/no-idea/problem

# More on Loops
## While Loop

In [45]:
count = 0

print(count)
count += 1
print(count)
count += 1
print(count)
count += 1
print(count)

0
1
2
3

In [52]:
count = 0

while count <= 3:
    print("inside while the count is: ",count)
    count += 1
    
print("good bye! the count is: ", count)

inside while the count is:  0
inside while the count is:  1
inside while the count is:  2
inside while the count is:  3
good bye! the count is:  4

In [1]:
# WAP to print all the tables till 10
# WAP to print all cubes this first 30 nautral numbers
# WAP to print squareroot of first 30 nautral numbers

# WAP

In [5]:
# while... else
tup = (1,2,3,4,5)

prod = 1

index = 0

while index < len(tup):
    print(index)
    prod = prod * tup[index]
    index += 1
    
else:
    print("No more elements are in tuple.")
    
print("product is: ", prod)

0
1
2
3
4
No more elements are in tuple.
product is:  120

## Break Statement

In [8]:
i = 0

while i < 4:
    print(i)
    if i == 4:
        break
        
    i += 1

0
1
2
3
4

In [10]:
l = [1,2,5,3,0,-1,56,23,91]

print("Enter an element to search in the list: ")
x = int(input())

i = 0

while i < len(l):
    print("Searching at index: ", i)
    if l[i] == x:
        print("I found the element")
        break
        
    i += 1

Enter an element to search in the list:
0
Searching at index:  0
Searching at index:  1
Searching at index:  2
Searching at index:  3
Searching at index:  4
I found the element
Searching at index:  5
Searching at index:  6
Searching at index:  7
Searching at index:  8

In [ ]:
l = ['dhruvi', 'bharat', 'raj', 'pratik']

i = 0

while i < len(l):
    
   
    
    print("send chocos to: ", l[i])
    i += 1
    if l[i] == 'bharat':
        continue

In [ ]:
l = [1,2,3,4,5]

i = 0 

while i < 5:
    i += 1
    if i == 2:
        continue
    print(i)

## Membership Operator

In [14]:
l = [1,2,3,4]

print(5 in l)  # value in iterable
print(2 in l)

print(5 not in l)

False
True
True

In [13]:
d = {1 :  'a', 2 : 'b'}

print('a' in d) # you can't use values
print(1 in d) # membership operator works on keys of a dict only

False
True

In [ ]:
l = [1,2,3,4,5,6]
print("list before updateing: ", l)
for i in range(len(l)):
    if i == 2:
        l[i] = 0
        
print("list after updating: ", l)

In [21]:
l = [1,2,3,4,5,6]
indxs = [0,1,2,3,4,5]
print("list before updateing: ", l)
for i in indxs:

    if i == 2:
        l[i] = 0
        
print("list after updating: ", l)

list before updateing:  [1, 2, 3, 4, 5, 6]
list after updating:  [1, 2, 0, 4, 5, 6]

In [22]:
l = [1,2,3,4,5,6]
print("list before updateing: ", l)
for i in range(len(l)):
    if i == 2:
        l[i] = 0
        
print("list after updating: ", l)

list before updateing:  [1, 2, 3, 4, 5, 6]
list after updating:  [1, 2, 0, 4, 5, 6]

In [24]:
l = [1, 2, 3, 4, 5, 6]

for i in l:
    if i == 6:
        break
    print(l[i], i)

2 1
3 2
4 3
5 4
6 5

In [26]:
l = set(l)
for i in range(len(l)):
    if l[i] == 4:
        print("index is: ", i)

index is:  3

# Nested Loops

Slap person : 0
Slap person : 1
Slap person : 2
Slap person : 3
Slap person : 4
Slap person : 5

In [30]:
for j in range(4):
    
    for i in range(6):
        print("Goto room:",j, " & Slap person :", i)
        
        if i == 4:
            break

Goto room: 0  & Slap person : 0
Goto room: 0  & Slap person : 1
Goto room: 0  & Slap person : 2
Goto room: 0  & Slap person : 3
Goto room: 0  & Slap person : 4
Goto room: 0  & Slap person : 5
Goto room: 1  & Slap person : 0
Goto room: 1  & Slap person : 1
Goto room: 1  & Slap person : 2
Goto room: 1  & Slap person : 3
Goto room: 1  & Slap person : 4
Goto room: 1  & Slap person : 5
Goto room: 2  & Slap person : 0
Goto room: 2  & Slap person : 1
Goto room: 2  & Slap person : 2
Goto room: 2  & Slap person : 3
Goto room: 2  & Slap person : 4
Goto room: 2  & Slap person : 5
Goto room: 3  & Slap person : 0
Goto room: 3  & Slap person : 1
Goto room: 3  & Slap person : 2
Goto room: 3  & Slap person : 3
Goto room: 3  & Slap person : 4
Goto room: 3  & Slap person : 5

In [32]:
l = [[1,2,3], [4,5,6], [7,8,9]]

for i in l:
    n = i
    # print(n)
    for j in n:
        print(j)

1
2
3
4
5
6
7
8
9

In [33]:
l = [[1,2,3],[4,5,6],[7,8,9]]

for i in range(3):
    for j in range(3):
        print(l[i][j])

1
2
3
4
5
6
7
8
9

# Functions

In [39]:
def sum_is(a, b):
    c = a + b
    return c

sum_is(2, 6)

8

In [51]:
def another_complex_math_fun(a, b):
    a = a+ b
    a = a/b
    a = a*b 
    return a, "sumit"

In [50]:
another_complex_math_fun(6, 2)

(8.0, 'sumit')

In [51]:
x, y = another_complex_math_fun(4,-20)

In [52]:
x

-16.0

In [53]:
y

'sumit'

In [45]:
def sum_is(a, b):
    c = a + b
    print(c)

print(sum_is(2, 6))

8
None

In [52]:
type(another_complex_math_fun(4,-20))

tuple

## Scope of variables

In [67]:
a = 10
b = 20

def fun_sum():
    a = 20
    print(a+b)
    
fun_sum()
print(a)

40
10

In [59]:
def fun():
    l = 10
    m = 20
    
print(l + m)

NameError: name 'l' is not defined

In [60]:
def fun_sum():
    x = 1
    y = 2
    print(x+y)

def fun_mult():
    print(x*y)
    
fun_sum()
fun_mult()

3

NameError: name 'x' is not defined

In [64]:
a = 10

def fun():
    a = a+ 5
    print(a)
    
fun()

SyntaxError: name 'a' is assigned to before global declaration (<ipython-input-64-11c73a7a7cd5>, line 5)

### if a variable is assigned a value anywhere within the function's body, it's assumed to be a local variable unless explicitly decleared as global.
### Variables that are only referenceed inside a function are implicilty global.
### We use global keyword to use a global variable inside a function
### There is no need to use global keyword outside a function

# Modules

In [70]:
# import module
import math
print(math.pi)
print(math.e)

3.141592653589793
2.718281828459045

In [72]:
math.pow(3, 3)

27.0

In [73]:
import math

dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'pi',
 'pow',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc']

In [74]:
help(math)

Help on module math:

NAME
    math

MODULE REFERENCE
    https://docs.python.org/3.7/library/math

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    /Users/sumittyagi/installs/anaconda3/lib/python3.7/lib-dynload/math.cpython-37m-darwin.so

In [75]:
2**3

8

In [77]:
math.pow(2,3)

8.0

In [4]:
S1 = set(range(0,50,8))
S2 = set(range(0,40,4))
print(S1)
print(S2)
print(S2 - S1)
print(S1 ^ S2)
print(S1 & S2)
print(S1 | S2)

{0, 32, 8, 40, 16, 48, 24}
{0, 32, 4, 36, 8, 12, 16, 20, 24, 28}
{4, 36, 12, 20, 28}
{4, 36, 40, 12, 48, 20, 28}
{0, 32, 8, 16, 24}
{0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 48}

In [16]:
class Employee:
    
    def __init__(self):
        self.name = None
        self.PAN = None
        self.salary = None
        self.deductions = None
        self.password = None
    def set_name(self, name):
        self.name = name
        
    def set_PAN(self, PAN):
        self.PAN = PAN
    
    def set_password(self):
        self.password = self.name[:4] + self.PAN[:4]
        
    def validate_password(self, password):
        try:
            assert password == self.password
            print("Correct password!!")
        except:
            print("Incorrect password!!")
            



e = Employee()
e.set_name("Rashmi")
e.set_PAN('BVAPT2102')
e.set_password()
print(e.validate_password('RashBVAP'))

Correct password!!
None

In [18]:
import string
def letterFrequency(fileName, letter):
    file = open(fileName, 'r')
  
    text = file.read()
  
    # using count()
    return text.count(letter)
  

for i in list(string.ascii_lowercase):
    print(letterFrequency('yourfile.txt', i))

FileNotFoundError: [Errno 2] No such file or directory: 'yourfile.txt'

In [ ]:
try:  
    numbers = [1,2,3,4,5]
    average = sum(numbers)/ len(numbers)
    print (a)
except ArithmeticError:  
        print ("This statement is raising an arithmetic exception.")
except LookupError: 
    print ("Index out of bound error.")
except KeyboardInterrupt, err:
    print ('Caught KeyboardInterrupt')
except OverflowError:  
        print ("OverFlow Exception Raised.")